.container{

    margin-bottom: 100px;
}

#jumbotron {
    
    
    color: aliceblue;
    margin-top: 40px;
    text-align: center;
    background-color: black;
}

#top-card-header {

    background-color: steelblue;
    color: aliceblue;
}

form {
    
    margin: 40px;
}



